@font-face {
  font-family: "Nanami-Bold";
  src: url("../fonts/Nanami-Bold.eot") format("OpenType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nanami-Bold";
  src: url("../fonts/Nanami-Bold.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nanami-Light";
  src: url("../fonts/Nanami-Light.eot") format("OpenType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nanami-Light";
  src: url("../fonts/Nanami-Light.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nanami-Book";
  src: url("../fonts/Nanami-Book.eot") format("OpenType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nanami-Book";
  src: url("../fonts/Nanami-Book.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "master_of_break";
  src: url("../fonts/master_of_break.eot") format("OpenType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "master_of_break";
  src: url("../fonts/master_of_break.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
}

/*Ciolors */
/* Mixins */
/*General*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
}

@media all and (max-width: 767px) {
  body {
    font-size: 8px;
  }
}

@media all and (max-width: 1199px) {
  body {
    font-size: 9px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

.button {
  font-family: 'Nanami-Book';
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.6em;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 245px;
  height: 60px;
  border: none;
  padding-top: 22px;
}

@media all and (max-width: 1199px) {
  .button {
    font-size: 2em;
  }
}

/* Navigation */
.nav {
  background-color: #fff;
  padding: 10px 0 10px 10px;
}

.nav__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.nav__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 30px;
}

@media all and (max-width: 1199px) {
  .nav__menu {
    display: block;
    width: 100%;
    top: -700px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    transition: .5s;
    background: #fff;
    padding-top: 60px;
    padding-bottom: 10px;
    z-index: 1;
  }
}

.nav__item {
  margin: 0 20px;
}

@media all and (max-width: 1199px) {
  .nav__item {
    margin: 20px 0;
  }
}

.nav__link {
  font-family: 'Nanami-Book';
  letter-spacing: 2px;
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
}

.nav__link:hover {
  background-color: #fff581;
  background-image: linear-gradient(transparent 10px, #fff581 10px);
  border-bottom: 25px solid #fff581;
  border-right: 3px solid #fff581;
  border-left: 3px solid #fff581;
}

@media all and (max-width: 1199px) {
  .nav__link {
    font-size: 2.4em;
  }
}

.nav__menu--active {
  top: -60px;
}

/*burger */
.nav__burger {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 25px;
  right: 40px;
  display: none;
  z-index: 2;
}

@media all and (max-width: 1199px) {
  .nav__burger {
    display: block;
  }
}

.nav__burger span {
  height: 6px;
  width: 100%;
  background-color: black;
  position: absolute;
  transition: .2s;
}

.nav__burger span:nth-child(1) {
  top: 6px;
}

.nav__burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.nav__burger span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%);
}

.nav__burger span:nth-child(4) {
  bottom: 6px;
}

.active span:nth-child(1) {
  top: -100px;
  opacity: 0;
}

.active span:nth-child(4) {
  bottom: -100px;
  opacity: 0;
}

.active span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.active span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* Carousel*/
.carousel {
  width: 100vw;
  overflow: hidden;
  position: relative;
  height: 800px;
}

@media all and (max-width: 767px) {
  .carousel {
    max-height: 600px;
  }
}

.carousel__items {
  width: 300vw;
  height: 800px;
}

.carousel__item {
  list-style-type: none;
  float: left;
  width: 100vw;
  height: 800px;
  background-position: center;
  background-size: cover;
  /* Carousel in main header */
  /* Carousel in shop section */
}

@media all and (max-width: 767px) {
  .carousel__item {
    max-height: 600px;
  }
}

.carousel__item--main1 {
  background-image: url(../images/bg_header.jpg);
}

@media all and (max-width: 767px) {
  .carousel__item--main1 {
    background-image: url(../images/bg_header_little.jpg);
  }
}

@media all and (min-width: 443px) and (max-width: 767px) {
  .carousel__item--main1 {
    background-image: url(../images/bg_header.jpg);
  }
}

.carousel__item--lemon1 {
  background-image: url(../images/bg_shop.jpg);
}

@media all and (max-width: 1199px) {
  .carousel__item--lemon1 {
    background-position: left;
  }
}

.carousel__item--lemon2 {
  background-image: url(../images/muffin.jpg);
  background-position: left;
}

.carousel__item--lemon3 {
  background-image: url(../images/icecreams.jpeg);
  background-position: left;
}

.carousel__button {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 80px;
  cursor: pointer;
}

.carousel__button:focus {
  outline: none;
}

.carousel__button--left {
  left: 4%;
}

.carousel__button--right {
  right: 4%;
}

/*Main header */
.header__text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
}

@media all and (max-width: 767px) {
  .header__text {
    width: 80%;
    top: 10%;
  }
}

.header__title {
  font-family: "master_of_break";
  font-size: 8em;
  line-height: 1em;
  color: #ed2024;
  text-transform: none;
  text-shadow: 4px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  text-align: center;
}

@media all and (max-width: 767px) {
  .header__title {
    font-size: 7em;
  }
}

.header__greeting {
  font-size: 2.5em;
  font-family: "Nanami-Book";
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 60px;
}

@media all and (max-width: 767px) {
  .header__greeting {
    font-size: 3em;
  }
}

/* Section reservation and menu */
.reservation,
.menu {
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media all and (max-width: 767px) {
  .reservation,
  .menu {
    padding: 100px 0;
  }
}

.reservation__title,
.menu__title {
  font-family: "Nanami-Book";
  color: #f01b16;
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
}

@media all and (max-width: 767px) {
  .reservation__title,
  .menu__title {
    font-size: 3em;
  }
}

.reservation__title--decorate,
.menu__title--decorate {
  font-family: "master_of_break";
  letter-spacing: 1.74px;
}

.reservation__text,
.menu__text {
  font-family: "Nanami-Light";
  font-size: 2.2em;
  color: #9f9a97;
  line-height: 1.2;
  padding: 45px 60px 45px;
  text-align: center;
}

@media all and (max-width: 767px) {
  .reservation__text,
  .menu__text {
    padding: 30px 20px 40px 20px;
  }
}

@media all and (min-width: 443px) and (max-width: 767px) {
  .reservation__text,
  .menu__text {
    padding: 30px 35px 35px 20px;
  }
}

.reservation__button,
.menu__button {
  color: #fff;
  background-color: #ff7e66;
}

.reservation__button:hover,
.menu__button:hover {
  background-color: #fff;
  color: #ff7e66;
  border: 1px solid #ff7e66;
  transition: all .6s ease 0s;
}

/* section cooking */
.cooking {
  display: -ms-flexbox;
  display: flex;
  background-color: #fff2ed;
  min-height: 750px;
}

@media all and (max-width: 1199px) {
  .cooking {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.cooking__image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background: url("../images/recipe.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 750px;
}

@media all and (max-width: 767px) {
  .cooking__image {
    height: 360px;
  }
}

.cooking__content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-left: 70px;
  padding-right: 70px;
}

@media all and (max-width: 1199px) {
  .cooking__content {
    padding: 50px 0;
  }
}

.cooking__text {
  font-family: "Nanami-Light";
  font-size: 2.2em;
  color: #9f9a97;
  line-height: 1.2;
  padding: 45px 60px 45px;
  text-align: center;
}

@media all and (max-width: 767px) {
  .cooking__text {
    padding: 30px 20px 40px 20px;
  }
}

@media all and (min-width: 443px) and (max-width: 767px) {
  .cooking__text {
    padding: 30px 35px 35px 20px;
  }
}

@media all and (max-width: 767px) {
  .cooking__text {
    padding-bottom: 0;
  }
}

.cooking__title {
  font-size: 4.5em;
  font-family: "Nanami-Bold";
  color: #ff7e66;
  line-height: 1.2;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

@media all and (max-width: 767px) {
  .cooking__title {
    font-size: 3em;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media all and (min-width: 443px) and (max-width: 767px) {
  .cooking__title {
    margin-left: 50px;
    margin-right: 50px;
  }
}

/* section shop */
.shop__content {
  width: 46%;
  float: right;
  padding-right: 180px;
  margin-top: 50px;
}

@media all and (max-width: 1199px) {
  .shop__content {
    float: none;
    width: 100%;
    margin: 80px 0 0 70px;
    padding: 0;
  }
}

@media all and (min-width: 768px) and (max-width: 1199px) {
  .shop__content {
    margin-left: 100px;
  }
}

.shop__title {
  font-family: "master_of_break";
  font-size: 8em;
  line-height: 1em;
  color: #ed2024;
  text-transform: none;
  text-shadow: 4px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  text-align: center;
  line-height: 1em;
  text-align: left;
  margin-bottom: 0;
  font-size: 7em;
}

@media all and (max-width: 767px) {
  .shop__title {
    font-size: 7em;
  }
}

@media all and (max-width: 767px) {
  .shop__title {
    font-size: 5.5em;
  }
}

.shop__text {
  font-family: "Nanami-Light";
  font-size: 2.2em;
  color: #9f9a97;
  line-height: 1.2;
  padding: 45px 60px 45px;
  text-align: center;
  padding: 40px 0;
  color: #fff;
  text-align: left;
}

@media all and (max-width: 767px) {
  .shop__text {
    padding: 30px 20px 40px 20px;
  }
}

@media all and (min-width: 443px) and (max-width: 767px) {
  .shop__text {
    padding: 30px 35px 35px 20px;
  }
}

@media all and (max-width: 767px) {
  .shop__text {
    padding: 30px 150px 30px 0;
    font-size: 1.8em;
  }
}

@media all and (min-width: 768px) and (max-width: 1199px) {
  .shop__text {
    padding: 50px 200px 100px 0;
  }
}

.shop__button {
  font-size: 1.9em;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  width: 150px;
  height: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 19px;
}

.shop__button:hover {
  background-color: #fff;
  color: #dac572;
  border: 1px solid #fff;
  transition: all .6s ease 0s;
}

.shop__price {
  display: block;
  font-size: 4.5em;
  font-family: 'master_of_break';
  font-style: normal;
  text-transform: none;
  margin-left: 5px;
  letter-spacing: 0.1em;
  color: white;
}

@media all and (max-width: 1199px) {
  .shop__price {
    font-size: 6em;
    margin-left: 0;
  }
}

.icons {
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media all and (max-width: 767px) {
  .icons {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.icons__title {
  font-family: "Nanami-book";
  font-size: 3em;
  text-align: center;
}

.icons__box {
  padding: 40px 100px;
  margin: 0;
  position: relative;
  text-align: center;
}

@media all and (max-width: 767px) {
  .icons__box {
    padding: 40px 50px;
  }
}

.icons__box:nth-child(2)::before, .icons__box:nth-child(3)::before {
  content: "";
  position: absolute;
  background-color: black;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 100px;
  width: 2px;
  display: block;
}

@media all and (max-width: 1199px) {
  .icons__box:nth-child(2)::before, .icons__box:nth-child(3)::before {
    display: none;
  }
}

/* section gallery */
.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  padding: 0;
  transition: .5s;
}

.gallery__img:hover {
  transform: scale(1.1);
  opacity: .8;
}

.gallery__small-elem {
  width: 25%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

@media all and (max-width: 767px) {
  .gallery__small-elem {
    width: 100%;
    height: 320px;
  }
}

@media all and (min-width: 768px) and (max-width: 1199px) {
  .gallery__small-elem {
    width: 50%;
    height: 430px;
  }
}

@media all and (min-width: 443px) and (max-width: 767px) {
  .gallery__small-elem {
    width: 100%;
    height: 430px;
  }
}

.gallery__big-elem {
  width: 50%;
  margin: 0;
  overflow: hidden;
}

@media all and (max-width: 767px) {
  .gallery__big-elem {
    width: 100%;
    height: 320px;
  }
}

@media all and (min-width: 768px) and (max-width: 1199px) {
  .gallery__big-elem {
    width: 100%;
    height: 430px;
  }
}

@media all and (min-width: 443px) and (max-width: 767px) {
  .gallery__big-elem {
    width: 100%;
    height: 430px;
  }
}

.gallery__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  font-family: "Nanami-Bold";
  text-align: center;
  text-transform: uppercase;
}

.gallery__title--orange {
  color: #ff7e66;
  letter-spacing: 12px;
}

.gallery__title--red {
  color: #fff;
}

/* section blog */
.blog {
  margin-bottom: 80px;
}

.blog__header {
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media all and (max-width: 767px) {
  .blog__header {
    padding-top: 50px;
  }
}

.blog__title {
  font-family: "Nanami-Book";
  color: #f01b16;
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
}

@media all and (max-width: 767px) {
  .blog__title {
    font-size: 3em;
  }
}

.blog__title--decorate {
  font-family: "master_of_break";
  letter-spacing: 1.74px;
}

.blog__text {
  font-family: "Nanami-Light";
  font-size: 2.2em;
  color: #9f9a97;
  line-height: 1.2;
  padding: 45px 60px 45px;
  text-align: center;
}

@media all and (max-width: 767px) {
  .blog__text {
    padding: 30px 20px 40px 20px;
  }
}

@media all and (min-width: 443px) and (max-width: 767px) {
  .blog__text {
    padding: 30px 35px 35px 20px;
  }
}

.blog__button {
  color: #fff;
  background-color: #ff7e66;
}

.blog__content {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

@media all and (min-width: 974px) and (max-width: 1299px) {
  .blog__content {
    padding: 0 150px;
  }
}

.blog__post {
  width: 295px;
  margin: 20px 15px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.blog__post:hover {
  transform: translateY(30px);
}

.blog__post:hover .post__item {
  width: 150%;
  height: 360px;
  transform: translate(-50%, 5%);
}

.blog__post:hover .button {
  visibility: visible;
}

.post__item {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -150px;
  background-color: #fff;
  width: 100%;
  height: 296px;
  padding-top: 160px;
  border-radius: 0 0 50% 50%;
  transition: .3s;
}

.post__title {
  font-family: 'Nanami-Book';
  font-size: 2.5em;
  text-align: center;
}

.post__title--decorate {
  font-family: "master_of_break";
  letter-spacing: 1.74px;
  color: red;
}

.post__button {
  background-color: #ff7e66;
  color: #fff;
  width: 100px;
  height: 40px;
  margin-bottom: 40px;
  padding-top: 13px;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -20%);
}

/* section contact */
.contact__wrapper {
  background-image: url(../images/bg_cake.jpg);
  background-size: cover;
  background-position: center;
  min-height: 800px;
  padding: 90px 20px 20px 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: normal;
      justify-content: normal;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media all and (max-width: 767px) {
  .contact__wrapper {
    padding-top: 60px;
    padding-bottom: 0;
  }
}

.contact__title {
  font-family: "Nanami-Book";
  color: #f01b16;
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

@media all and (max-width: 767px) {
  .contact__title {
    font-size: 3em;
  }
}

.contact__title--decorate {
  font-family: "master_of_break";
  letter-spacing: 1.74px;
  color: #fff;
}

.contact__form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1280px;
  width: 100%;
  text-align: center;
}

.contact__input {
  font-family: 'Nanami-Book';
  font-size: 1.8em;
  height: 50px;
  width: 30%;
  margin: 40px 0;
  background-color: transparent;
  border: 1px solid #fff;
  padding-left: 20px;
  box-shadow: none;
  outline: none;
  color: #fff;
}

@media all and (max-width: 1199px) {
  .contact__input {
    width: 100%;
    margin-top: 0;
  }
}

.contact__textarea {
  width: 100%;
  font-family: 'Nanami-Book';
  background-color: transparent;
  border: 1px solid #fff;
  height: 255px;
  margin: 0 0 35px;
  font-size: 1.8em;
  color: #fff;
  outline: none;
  padding: 15px 0 0 20px;
}

.contact__button {
  width: 100%;
  padding-top: 0;
  background-color: #ff7e66;
  color: white;
  font-weight: bold;
}

.contact__button:hover {
  background-color: #fff;
  color: #ff7e66;
  border: 1px solid #fff;
  transition: all .6s ease 0s;
}

::-webkit-input-placeholder {
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

::placeholder {
  color: white;
}

.contact__contact-details {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #fff2ed;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

@media all and (max-width: 767px) {
  .contact__contact-details {
    padding-bottom: 50px;
  }
}

.contact-details__item {
  margin: 40px 30px;
  background-color: #fff;
  height: 275px;
  position: relative;
}

@media all and (max-width: 767px) {
  .contact-details__item {
    margin-bottom: 0;
  }
}

.contact-details__variant {
  font-size: 1.6em;
  font-family: 'Nanami-Book';
  color: #464646;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
}

.contact-details__variant--grey {
  color: #81868e;
}

.contact-details__icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  top: 15%;
}

.contact__map {
  width: 100%;
  height: 100%;
  position: relative;
}

.map__google {
  width: 100%;
  height: 550px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.map__google:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.map__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

/* footer */
.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  padding: 50px 0;
}

.footer__title {
  font-family: "master_of_break";
  letter-spacing: 1.74px;
  margin: 0 0 20px 0;
  font-size: 3em;
  color: red;
}

.footer__clausel {
  font-family: "Nanami-Light";
  font-size: 2.2em;
  color: #9f9a97;
  line-height: 1.2;
  padding: 45px 60px 45px;
  text-align: center;
  margin-bottom: 0;
}

@media all and (max-width: 767px) {
  .footer__clausel {
    padding: 30px 20px 40px 20px;
  }
}

@media all and (min-width: 443px) and (max-width: 767px) {
  .footer__clausel {
    padding: 30px 35px 35px 20px;
  }
}

.footer__link {
  display: inline-block;
  margin: 0 10px;
}
/*# sourceMappingURL=style.css.map */