@font-face {
    font-family: "Nanami-Bold";
    src: url("../fonts/Nanami-Bold.eot") format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nanami-Bold";
    src: url("../fonts/Nanami-Bold.ttf") format('TrueType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nanami-Light";
    src: url("../fonts/Nanami-Light.eot") format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nanami-Light";
    src: url("../fonts/Nanami-Light.ttf") format('TrueType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nanami-Book";
    src: url("../fonts/Nanami-Book.eot") format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nanami-Book";
    src: url("../fonts/Nanami-Book.ttf") format('TrueType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "master_of_break";
    src: url("../fonts/master_of_break.eot") format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "master_of_break";
    src: url("../fonts/master_of_break.ttf") format('TrueType');
    font-weight: normal;
    font-style: normal;
}


/*Ciolors */

$white: #fff;
$orange: #ff7e66;

/* Mixins */

@mixin centerWrapper($width) {
    max-width: $width;
    margin: 0 auto;
}

@mixin flexPosition($justify,
$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin absoluteXcenter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


@mixin decorateTitle {
    font-family: "master_of_break";
    font-size: 8em;
    line-height: 1em;
    color: rgb(237, 32, 36);
    text-transform: none;
    text-shadow: 4px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    text-align: center;
    @include screen("phone") {
        font-size: 7em;

    }
}

@mixin sectionTitle {
    font-family: "Nanami-Book";
    color: #f01b16;
    font-size: 3.5em;
    font-weight: 400;
    text-align: center;
    @include screen("phone") {
        font-size: 3em;
    }
}

@mixin decorateWord {
    font-family: "master_of_break";
    letter-spacing: 1.74px;
}

@mixin textStyle {
    font-family: "Nanami-Light";
    font-size: 2.2em;
    color: rgb(159, 154, 151);
    line-height: 1.2;
    padding: 45px 60px 45px;
    text-align: center;
    @include screen("phone") {
        padding: 30px 20px 40px 20px;
    }
    @include screen("phoneLandscape") {
        padding: 30px 35px 35px 20px;
    }
}

@mixin buttonHover ($background-color,
$color,
$borderColor) {
    background-color: $background-color;
    color: $color;
    border: 1px solid $borderColor;
    transition: all .6s ease 0s;
}



@mixin screen($size) {
    $smallMonitor: "(min-width: 974px) and (max-width: 1299px)";
    $tablet: "(min-width: 768px) and (max-width: 1199px)";
    $tabletAndPhone: "(max-width: 1199px)";
    $phone: "(max-width: 767px)";
    $phoneLandscape: "(min-width: 443px) and (max-width: 767px)";
    $smallPhone: "(max-width: 393px)";

    @if $size==smallMonitor {
        @media all and #{$smallMonitor} {
            @content;
        }
    }

    @else if $size==tablet {
        @media all and #{$tablet} {
            @content;
        }
    }
    @else if $size==tabletAndphone {
        @media all and #{$tabletAndPhone} {
            @content;
        }
    }
    @else if $size==phoneLandscape {
        @media all and #{$phoneLandscape} {
            @content;
        }
    }

    @else if $size==phone {
        @media all and #{$phone} {
            @content;
        }
    }
    @else if $size==smallPhone {
        @media all and #{$smallPhone} {
            @content;
        }
    }
    @else {
        @media all and #{$size} {
            @content;
        }
    }
}


/*General*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-size: 10px;
    @include screen("phone") {
        font-size: 8px;
    }
    @include screen ("tabletAndphone") {
        font-size: 9px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
}

.button {
    font-family: 'Nanami-Book';
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1.6em;
    cursor: pointer;
    text-align: center;
    display: block;
    width: 245px;
    height: 60px;
    border: none;
    padding-top: 22px;
    @include screen("tabletAndphone") {
        font-size: 2em;
    }
}

/* Navigation */

.nav {
    background-color: $white;
    padding: 10px 0 10px 10px;

    &__wrapper {
        @include centerWrapper(1280px);
        @include flexPosition(space-between,
        center);
    }

    &__menu {
        @include flexPosition(space-between,
        center);
        padding-top: 30px;
        @include screen("tabletAndphone") {
            display: block;
            width: 100%;
            top: -700px;
            @include absoluteXcenter;
            text-align: center;
            transition: .5s;
            background: $white;
            padding-top: 60px;
            padding-bottom: 10px;
            z-index: 1;
        }
    }

    &__item {
        margin: 0 20px;
        @include screen("tabletAndphone") {
            margin: 20px 0;
        }
    }

    &__link {
        font-family: 'Nanami-Book';
        letter-spacing: 2px;
        font-size: 1.8em;
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
            background-color: #fff581;
            background-image: linear-gradient(transparent 10px, #fff581 10px);
            border-bottom: 25px solid #fff581;
            border-right: 3px solid #fff581;
            border-left: 3px solid #fff581;
        }
        @include screen("tabletAndphone") {
            font-size: 2.4em;
        }
    }

}

.nav__menu--active {
    top: -60px;
}


/*burger */

.nav__burger {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 25px;
    right: 40px;
    display: none;
    @include screen("tabletAndphone") {
        display: block;
    }
    z-index: 2;
}

.nav__burger span {
    height: 6px;
    width: 100%;
    background-color: black;
    position: absolute;
    transition: .2s;
}

.nav__burger span:nth-child(1) {
    top: 6px;
}

.nav__burger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.nav__burger span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
}

.nav__burger span:nth-child(4) {
    bottom: 6px;
}

.active span:nth-child(1) {
    top: -100px;
    opacity: 0;
}

.active span:nth-child(4) {
    bottom: -100px;
    opacity: 0;
}

.active span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.active span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}


/* Carousel*/

.carousel {
    width: 100vw;
    overflow: hidden;
    position: relative;
    height: 800px;
    @include screen("phone") {
        max-height: 600px;
    }

    &__items {
        width: 300vw;
        height: 800px;
    }
    &__item {
        list-style-type: none;
        float: left;
        width: 100vw;
        height: 800px;
        background-position: center;
        background-size: cover;
        @include screen("phone") {
            max-height: 600px;
        }
        /* Carousel in main header */
        &--main1 {
            background-image: url(../images/bg_header.jpg);
            @include screen("phone") {
                background-image: url(../images/bg_header_little.jpg);
            }
            @include screen("phoneLandscape") {
                background-image: url(../images/bg_header.jpg);
            }
        }
        /* Carousel in shop section */
        &--lemon1 {
            background-image: url(../images/bg_shop.jpg);
            @include screen("tabletAndphone") {
                background-position: left;
            }
        }
        &--lemon2 {
            background-image: url(../images/muffin.jpg);
            background-position: left;
        }
        &--lemon3 {
            background-image: url(../images/icecreams.jpeg);
            background-position: left;
        }
    }
    &__button{
        position: absolute;
        background-color: transparent;
        border: none;
        outline: none;
        top: 50%;
        transform: translateY(-50%);
        color: $white;
        font-size: 80px;
        &:focus {
            outline:none;
            }
        cursor: pointer;
        &--left {
            left: 4%;
        }
        &--right {
            right: 4%;
        }
    }
}

/*Main header */

.header {
    &__text {
        @include absoluteXcenter;
        top: 20%;
        @include screen("phone") {
            width: 80%;
            top: 10%;
        }
    }
    &__title {
        @include decorateTitle;
    }
    &__greeting {
        font-size: 2.5em;
        font-family: "Nanami-Book";
        color: $white;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        padding-top: 60px;
        @include screen("phone") {
            font-size: 3em;
        }
    }
}

/* Section reservation and menu */

.reservation,
.menu {
    @include centerWrapper(1180px);
    padding-top: 150px;
    padding-bottom: 150px;
    @include flexPosition(center,
    center);
    flex-direction: column;
    @include screen("phone") {
        padding: 100px 0;
    }
    &__title {
        @include sectionTitle;
        &--decorate {
            @include decorateWord;
        }
    }
    &__text {
        @include textStyle;
        @include screen("phone") {}
    }
    &__button {
        color: $white;
        background-color: $orange;
        &:hover {
            @include buttonHover($white,
            $orange,
            $orange);
        }
    }
}

/* section cooking */

.cooking {
    display: flex;
    @include screen("tabletAndphone") {
        flex-direction: column;
   }
    background-color: #fff2ed;
    min-height: 750px;
    &__image {
        flex-basis: 50%;
        background: url('../images/recipe.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 750px;
        @include screen("phone") {
            height: 360px;
        }
   }
    &__content {
        flex-basis: 50%;
        @include flexPosition(center,
        center);
        flex-direction: column;
        padding-left: 70px;
        padding-right: 70px;
        @include screen("tabletAndphone") {
            padding: 50px 0;
        }
    }
    &__text {
        @include textStyle;
        @include screen("phone") {
            padding-bottom: 0;
        }
    }
    &__title {
        font-size: 4.5em;
        font-family: "Nanami-Bold";
        color: $orange;
        line-height: 1.2;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
        @include screen("phone") {
            font-size: 3em;
            margin-left: 20px;
            margin-right: 20px;
        }
        @include screen("phoneLandscape") {
            margin-left: 50px;
            margin-right: 50px;
        }

    }
}

/* section shop */

.shop {
    &__content {
        width: 46%;
        float: right;
        padding-right: 180px;
        margin-top: 50px;
        @include screen("tabletAndphone") {
            float: none;
            width: 100%;
            margin: 80px 0 0 70px;
            padding: 0;
        }
        @include screen("tablet") {
            margin-left: 100px;
        }
    }
    &__title {
        @include decorateTitle;
        line-height: 1em;
        text-align: left;
        margin-bottom: 0;
       font-size: 7em;
        @include screen("phone") {
            font-size: 5.5em;
        }

    }
    &__text {
        @include textStyle;
        padding: 40px 0;
        color: $white;
        text-align: left;
        @include screen("phone") {
            padding: 30px 150px 30px 0;
            font-size: 1.8em;
        }
        @include screen("tablet") {
            padding: 50px 200px 100px 0;
        }

    }
    &__button {
        font-size: 1.9em;
        color: #fff;
        background-color: transparent;
        border: 2px solid #fff;
        width: 150px;
        height: 60px;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-top: 19px;
        &:hover {
            @include buttonHover($white,
            #dac572,
            $white);
        }
    }
    &__price {
        display: block;
        font-size: 4.5em;
        font-family: 'master_of_break';
        font-style: normal;
        text-transform: none;
        margin-left: 5px;
        letter-spacing: 0.1em;
        color: white;
        @include screen("tabletAndphone") {
            font-size: 6em;
            margin-left: 0;
        }
    }
}

.icons {
    display: flex;
    @include flexPosition(center,
    center);
    flex-wrap: wrap;
    @include screen("phone") {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    &__title {
        font-family: "Nanami-book";
        font-size: 3em;
        text-align: center;
    }
    &__box {
        padding: 40px 100px;
        margin: 0;
        position: relative;
        text-align: center;
        @include screen("phone") {
            padding: 40px 50px;
        }
        &:nth-child(2)::before,
        &:nth-child(3)::before {
            @include screen("tabletAndphone") {
                display: none;
            }
            content: "";
            position: absolute;
            background-color: black;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 100px;
            width: 2px;
            display: block;

        }
    }
}

/* section gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
        padding: 0;
        transition: .5s;
        &:hover {
            transform: scale(1.1);
            opacity: .8;
        }

    }
    &__small-elem {
        width: 25%;
        margin: 0;
        position: relative;
        overflow: hidden;
        @include screen("phone") {
            width: 100%;
            height: 320px;

        }
        @include screen("tablet") {
            width: 50%;
            height: 430px;

        }
        @include screen("phoneLandscape") {
            width: 100%;
            height: 430px;

        }

    }
    &__big-elem {
        width: 50%;
        margin: 0;
        overflow: hidden;
        @include screen("phone") {
            width: 100%;
            height: 320px;
        }

        @include screen("tablet") {
            width: 100%;
            height: 430px;
        }
        @include screen("phoneLandscape") {
            width: 100%;
            height: 430px;
        }
    }
    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5em;
        font-family: "Nanami-Bold";
        text-align: center;
        text-transform: uppercase;
        &--orange {
            color: $orange;
            letter-spacing: 12px;
        }
        &--red {
            color: $white;
        }
    }
}

/* section blog */

.blog {
    margin-bottom: 80px;
    &__header {
        @include centerWrapper(1180px);
        padding-top: 150px;
        padding-bottom: 50px;
        @include flexPosition(center,
        center);
        flex-direction: column;
        @include screen("phone") {
            padding-top: 50px;
        }
    }
    &__title {
        @include sectionTitle;
        &--decorate {
            @include decorateWord;
        }
    }
    &__text {
        @include textStyle;
    }
    &__button {
        color: $white;
        background-color: $orange;
    }
    &__content {
        width: 100%;
        @include flexPosition(center,
        center);
        flex-wrap: wrap;
        padding: 0;
        @include screen("smallMonitor") {
            padding: 0 150px;
        }
        @include screen("phoneLandscape") {}

    }
    &__post {
        width: 295px;
        margin: 20px 15px;
        position: relative;
        overflow: hidden;
        transition: 0.3s;
        &:hover {
            transform: translateY(30px);
            & .post__item {
                width: 150%;
                height: 360px;

                transform: translate(-50%, 5%);
            }
            & .button {
                visibility: visible;
            }
        }

    }

}

.post__item {
    @include absoluteXcenter;
    top: -150px;
    background-color: $white;
    width: 100%;
    height: 296px;
    padding-top: 160px;
    border-radius: 0 0 50% 50%;
    transition: .3s;
}

.post__title {
    font-family: 'Nanami-Book';
    font-size: 2.5em;
    text-align: center;
    &--decorate {
        @include decorateWord;
        color: red;
    }
}

.post__button {
    background-color: $orange;
    color: $white;
    width: 100px;
    height: 40px;
    margin-bottom: 40px;
    padding-top: 13px;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -20%);
}

/* section contact */

.contact {
    &__wrapper {
        background-image: url(../images/bg_cake.jpg);
        background-size: cover;
        background-position: center;
        min-height: 800px;
        padding: 90px 20px 20px 20px;
        @include flexPosition(normal,
        center);
        flex-direction: column;
        @include screen("phone") {
            padding-top: 60px;
            padding-bottom: 0;
        }
    }
    &__title {
        @include sectionTitle;
        color: $white;
        margin-bottom: 50px;
        &--decorate {
            @include decorateWord;
            color: $white;
        }
    }
    &__form {
        @include flexPosition(space-between,
        center);
        flex-wrap: wrap;
        max-width: 1280px;
        width: 100%;
        text-align: center;
    }
    &__input {
        font-family: 'Nanami-Book';
        font-size: 1.8em;
        height: 50px;
        width: 30%;
        margin: 40px 0;
        background-color: transparent;
        border: 1px solid #fff;
        padding-left: 20px;
        box-shadow: none;
        outline: none;
        color: #fff;
        @include screen("tabletAndphone") {
            width: 100%;
            margin-top: 0;
        }
    }
    &__textarea {
        width: 100%;
        font-family: 'Nanami-Book';
        background-color: transparent;
        border: 1px solid #fff;
        height: 255px;
        margin: 0 0 35px;
        font-size: 1.8em;
        color: #fff;
        outline: none;
        padding: 15px 0 0 20px;
    }
    &__button {
        width: 100%;
        padding-top: 0;
        background-color: $orange;
        color: white;
        font-weight: bold;
        &:hover {
            @include buttonHover($white,
            $orange,
            $white);
        }
    }
}

::placeholder {
    color: white;
}

.contact__contact-details {
    @include screen("phone") {
        padding-bottom: 50px;
    }
    @include flexPosition(center,
    center);
    background-color: #fff2ed;
    flex-wrap: wrap;
    text-align: center;
}

.contact-details {
    &__item {
        margin: 40px 30px;
        background-color: $white;
        height: 275px;
        position: relative;
        @include screen("phone") {
            margin-bottom: 0;
        }
    }
    &__variant {
        font-size: 1.6em;
        font-family: 'Nanami-Book';
        color: #464646;
        text-transform: uppercase;
        margin: 20px 0 10px 0;
        &--grey {
            color: #81868e;
        }
    }
    &__icon {
        @include absoluteXcenter;
        z-index: 100;
        top: 15%;
        
    }
}

.contact__map {
    width: 100%;
    height: 100%;
    position: relative;
}

.map {
    &__google {
        width: 100%;
        height: 550px;
        filter: brightness(50%);
        &:hover {
            filter: brightness(100%);
        }
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
}

/* footer */

.footer {
    @include flexPosition(center,
    center);
    flex-direction: column;
    text-align: center;

    padding: 50px 0;
    &__title {
        @include decorateWord;
        margin: 0 0 20px 0;
        font-size: 3em;
        color: red;
    }
    &__clausel {
        @include textStyle;
        margin-bottom: 0;
    }
    &__link {
        display: inline-block;
        margin: 0 10px;
    }
}

