@font-face {
    font-family: "Nanami-Bold";
    src: url("../fonts/Nanami-Bold.eot") format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nanami-Bold";
    src: url("../fonts/Nanami-Bold.ttf") format('TrueType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nanami-Light";
    src: url("../fonts/Nanami-Light.eot") format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nanami-Light";
    src: url("../fonts/Nanami-Light.ttf") format('TrueType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nanami-Book";
    src: url("../fonts/Nanami-Book.eot") format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nanami-Book";
    src: url("../fonts/Nanami-Book.ttf") format('TrueType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "master_of_break";
    src: url("../fonts/master_of_break.eot") format('OpenType');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "master_of_break";
    src: url("../fonts/master_of_break.ttf") format('TrueType');
    font-weight: normal;
    font-style: normal;
}


/*Ci=olors */

$white: #fff;
$orange: #ff7e66;

/* Mixins */

@mixin centerWrapper($width) {
    max-width: $width;
    margin: 0 auto;
}

@mixin flexPosition($justify,
$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin decorateTitle {
     font-family: "master_of_break";
    font-size: 8em;
    color: rgb(237, 32, 36);
    text-transform: none;
    text-shadow: 4px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    text-align: center;
}

@mixin sectionTitle {
    font-family: "Nanami-Book";;
    color: #f01b16;
    font-size: 3.5rem;
    font-weight: 400;
}

@mixin decorateWord {
    font-family: "master_of_break";
    letter-spacing: 1.74px;
}

@mixin textStyle {
    font-family: "Nanami-Book";
    font-size: 2.2rem;
    color: rgb(159, 154, 151);
    line-height: 1.2;
    padding: 0 60px 30px;
    text-align: center;
}

/* general & typography */

html {
    font-size: 62.5%;
}

body {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
}

.button {
    font-family: 'Nanami-Book';
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1.6rem;
//    line-height: 35px;
    cursor: pointer;
    text-align: center;
    display: block;
    width: 245px;
    height: 60px;
    border: none;
}


//.header__title,
//.shop__title {
//    font-family: 'master_of_break';
//    font-size: 8em;
//    color: rgb(237, 32, 36);
//    text-transform: none;
//    text-shadow: 4px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
//    text-align: center;
//}
/* Nav */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: $white;

    &__wrapper {
        @include centerWrapper(1280px);
        @include flexPosition(space-between,
        center);
    }

    &__menu {
        @include flexPosition(space-between,
        center);
        padding-top: 30px;
    }

    &__item {
        margin: 0 20px;
    }

    &__link {
        font-family: 'Nanami-Book';
        letter-spacing: 2px;
        font-size: 1.8rem;
        font-weight: bold;
        transition: 0.5s;
        &:hover {
            position: relative;
            top: -3px;
            background-color: #fff581;
            background-image: linear-gradient(transparent 10px, #fff581 10px);
            border-bottom: 18px solid #fff581;
        }
    }
}


.carousel {
//    height: 770px;
    width: 100vw;
    overflow: hidden;
    position: relative;
 
    &__items{
        width:300vw;
        height: 800px;
    }
    &__item {
        list-style-type: none;
        float: left;
        width:100vw;
        height: auto;

        height: 800px;
      
        background-image: url(../images/bg_header.jpg);
        background-position: center;
        background-size: cover;
        
        &--lemon {
           background-image: url(../images/bg_shop.jpg); 
        }
       
   }
    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $white;
        font-size: 80px;
        cursor: pointer;
        &--left {
            left: 5%;
        }
        &--right {
            right: 5%;
        }
       
    }
    

}

.header {
    &__text{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 20%;
    }
    &__title {
        @include decorateTitle;
    }
    &__greeting {
        font-size: 2.5rem;
        font-family: "Nanami-Book";
        color: $white;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        padding-top: 60px;
    }
    
}

.reservation {
    @include centerWrapper(1180px);
    padding-top: 100px;
    padding-bottom: 150px;
    @include flexPosition(center, center);
    flex-direction: column;
    &__title {
        @include sectionTitle;
        &--decorate {
        @include decorateWord;
    }
    }
    &__text {
        @include textStyle;
    }
    &__button {
        color: $white;
        background-color: $orange;
    }
    
}

.cooking {
    display: flex;
    background-color: #fff2ed;
    min-height: 750px;
    &__image{
        flex-basis: 50%;
         background: url('../images/recipe.jpg') no-repeat;
        background-size: cover;
        height: 750px;
        
    }
    &__content {
        flex-basis: 50%;
        @include flexPosition(center, center);
        flex-direction: column;
        padding-left: 70px;
        padding-right: 70px;
        
      
        
    
        
        
    }
    &__text {
       @include textStyle;
    }
    &__title {
        font-size: 4.5rem;
        font-family: "Nanami-Bold";
        color: $orange;
        line-height: 1.2;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
        
    }
}

.shop {
    &__content {
        width: 46%;
        float: right;
        padding-right: 180px;
        margin-top: 50px;
    }
    &__title {
        @include decorateTitle;
//        line-height: 1rem;
        text-align: left;
        margin-bottom: 0;
        font-size: 7rem;
        line-height: 7.5rem;
    }
    &__text {
        @include textStyle;
        padding: 40px 0;
        color: $white;
        text-align: left;
//        width: 80%;
    }
    &__button {
        font-size: 1.9em;
        color: #fff;
        background-color: transparent;
        border: 2px solid #fff;
        width: 150px;
        height: 60px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    &__price{
         display: block;
        font-size: 4.5em;
        font-family: 'master_of_break';
        font-style: normal;
        text-transform: none;
        margin-left: 5px;
        letter-spacing: 0.1em;
        color: white;
    }
}

@media (max-width:480px){
    .carousel__item {
      background-image: url('../images/bg_header_little.jpg');
        background-position: center;
        background-size: cover;
    max-height: 560px;
        
    }
}